.friendList {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.friendItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #e7cd81;
  height: 150px;
}

.friendPhoto {
  width: 130px;
}
.friendName {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
}
.circle {
  margin-left: 10px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.isOnline {
  /* composes :alert; */
  background-color: green;
}
.isOffline {
  background-color: red;
}
